*{
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    color: #C2C2C2;   
}

.item {
 text-align: center;
}

input, textarea, select {
    
    background-color: #F5F5F5; 
    border: none; 
    border-radius: 4px;
    padding: 14px;
}

  label {
    
    margin: 18px 0 10px 0;
    color: gray;
    font-size: 14px;
  }

input[type="radio"],
input[type="checkbox"] {
 
  margin: 0 7px 15px 0; 
}

fieldset{
  border: none;
}

button {
  text-align: center;
  width: 100%;
  margin: 28px 0 13px 0;
  padding: 18px 0;
  font-size: 19px;
  border: none;
  border-radius: 4px;
  background-color: #62cac4; 
  color: white;
}

.last {
  text-align: center;
  margin-bottom: 200px;
  font-style: italic;
  color: #999999;
  font-size: 14px;;
}

#zip {
  width: 50%;
}

.heading {
  text-transform: uppercase; 
  background-color:#364559;
  color: white;
  margin: 0;
  padding: 25px 0;
  font-size: 18px;
}

h2 {
  font-size: 19px;
  margin-top: 22px;
  margin-bottom: 8px;
  font-weight:700;
  color: #364559;
}

.p-1 {
  margin: 0 14px 3px 14px;
  padding-bottom: 30px;
  border-bottom: solid 4px black;
  font-size: 14px;
  color: #B8B8B8;
}

legend{
  font-size: 19px;
  width: 100%;
  border-top: solid 2px black;
  padding-top: 25px;
  font-weight:700;
  color: #364559;
}

textarea {
  padding: 30px 0;
  margin-top: 14px;
  width: 100%;
}

.p-2 {
  line-height: 1.5em;
  margin: 12px 0;
}

.format {
  margin: 14px 0 13px 0; 
}

input[type="text"]::placeholder,
input[type="email"]::placeholder {
  text-align: right;
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
  opacity: 0.5;
  }

input:focus, 
textarea:focus,
select:focus,
button:focus {
  outline: 2px solid #2F5D75;
}

input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
}

.end {
margin-top: 12px;
}

.container,
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.zip-code {
  margin-bottom: 19px;
}

/* ------- Media Query --------*/

@media screen and (min-width: 768px) {

label { 
  width: 28%;
  margin: 0;
}

input,
select {
  width:  72%;
  margin: 9px 0;  
}

h2 {
  margin-top: 50px;
}

.p-1 {
  padding-bottom: 40px;
  margin: 0 125px 3px 125px;
}

legend {
  padding-top: 42px;
  padding-bottom: 12px;
}

fieldset {
  padding: 0 25px;
  margin: 0 100px;
}

.zip-code {
  margin-bottom: 38px;
}

input[type="radio"],
input[type="checkbox"] {
  width:auto;
}

.container,
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
   justify-content: space-between;  
}

.zip-code {
  display:flex;
  justify-content: left;
}

#zip {
  width: 18%;
}

}






  
  


